{% extends 'base.html.twig' %}

{% block title %}Guinot-GuinotLocation{% endblock %}

{% block body %}
<div class="container">

{# Liste de ce que j'aimerai afficher#}
<div class = "row">
     {% for GuinotLocation in GuinotLocation %}     
          <resume>
               {# Faisant une interpollation#}
               <h5>Titre: {{ GuinotLocation.titre }}</h5>
               <p> Date de publication: {{ GuinotLocation.createdAt | date('d/m/Y')}}</p>
               <div class = "content">
                    <p align="justify"> Categorie: {{ GuinotLocation.categorie}}   </p> 
                    <p align="justify"> Description: {{ GuinotLocation.description}}   </p> 
                    <p align="justify"> Surface: {{ GuinotLocation.surface}} m²  </p> 
                    <p align="justify"> {{ GuinotLocation.TypeMaison}}   </p> 
                    <p align="justify"> Nbr des chambres: {{ GuinotLocation.chambres}}   </p> 
                    <p align="justify"> Etage: {{ GuinotLocation.etage}}   </p> 
                    <p align="justify"> Prix: {{ GuinotLocation.cout}}  € </p> 
                    <p align="justify">Adresse:  {{ GuinotLocation.adresse}}   </p> 
                    <p align="justify"> Accessibilité: {{ GuinotLocation.accesibilite}}   </p> 
                    <img src="{{ GuinotLocation.image}}" alt=""  align="left">
                    <a href="{{ path('index.affichLoc', {'id': GuinotLocation.id })}}" class="btn btn-primary"> Consulter</a>  
               </div>          
          </resume>
          <hr> </hr>
     {% endfor %} 
</div>



{% endblock %}
