{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}

<div class="container">

{# Liste de ce que j'aimerai afficher#}
<div class = "row">
     {% for GuinotVente in GuinotVente %}     
          <resume>
               {# Faisant une interpollation#}
               <h5>categorie / {{ GuinotVente.titre }}</h5>
               <p> Date de publication: {{ GuinotVente.createdAt | date('d/m/Y')}}</p>
               <div class = "content">
                    <p align="justify"> {{ GuinotVente.categorie}}   </p> 
                    <p align="justify"> {{ GuinotVente.description}}   </p> 
                    <p align="justify">Surface {{ GuinotVente.surface}}   </p> 
                    <p align="justify"> {{ GuinotVente.TypeMaison}}   </p> 
                    <p align="justify">Chambres {{ GuinotVente.chambres}}   </p> 
                    <p align="justify">Etage{{ GuinotVente.etage}}   </p> 
                    <p align="justify">Cout{{ GuinotVente.cout}}   </p> 
                    <p align="justify">{{ GuinotVente.adresse}}   </p> 
                    <p align="justify"> {{ GuinotVente.accesibility}}   </p> 
                    <img src="{{ GuinotVente.image}}" alt=""  align="left">
                    <a href="{{ path('index.affichVente', {'id': GuinotVente.id })}}" class="btn btn-primary"> Consulter</a>  
               </div>          
          </resume>
          <hr> </hr>
     {% endfor %} 
</div>

{% endblock %}
